body {
    padding-bottom: 20px;
    color: #000000;
    background-color: #cecece;
}
ul li{
  font-size: 30px;
  margin: 10px;
}
#box-role{
  display: inline-block;
}
.margin_left{
  margin: 10px;
}
h4{
  font-weight: bold;
}
#_create{
  font-weight: bold;
  margin-bottom: 10px;
  color: #04afbf;
}
#_create:hover{
  cursor: pointer;
  color: #6500d8;
}
#search {
  margin: 3% 0;
}

#search .row {
  padding: 0 10%;
}

.body .left_panel a {
  display: block;
  margin: 5% 0;
}
.input_box input {
  width: 70%;
  margin: 0 5px 10px 5px;
  display: inline-block;
}

form label {
  width: 20%;
}
.input_box .col-md-6 {
  padding: 0;
}

.role_checkbox div {
  display: inline-block;
  margin: 0 2%;
}

.role_checkbox input {
  margin: 5% 0;
}
.foot_modal{
  margin-top: 10px;
  text-align: center;
}
.btn_submit {
  float: right;
  margin-right: 8%;
}
.fill_grey{
  background-color: #cccccc;
  font-weight: bold;
}
.bold{
  font-weight: bold;
}
.red{
  color: #d44950;
}
.green{
  color: #337ab7;
}
